@import "tailwindcss";
h1,
h2,
h3 {
  font-family: "Sora", sans-serif;
}
.h1t {
  @apply lg:text-[64px] md:text-[54px] sm:text-[48px] text-[40px] font-semibold;
}
.h2t {
  @apply lg:text-[40px] md:text-[36px] sm:text-[32px] text-[30px] font-bold;
}
.para {
  @apply lg:text-[18px] md:text-[17px] sm:text-[17px] text-[16px];
}
.para2 {
  @apply lg:text-[18px] md:text-[18px] sm:text-[19px] text-[20px];
}
body,
p,
div,
span,
a,
li,
button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
}
.btn {
  @apply bg-[#EE314E] cursor-pointer py-[12px] px-[15px] rounded-[10px]   font-semibold hover:bg-red-600;
}
.max {
  @apply max-w-screen-2xl mx-auto;
}
.rm {
  @apply py-8 sm:py-10 md:py-12 lg:py-14;
}
::selection {
  background-color: rgb(238, 49, 78, 0.8);
  color: white;
}
